#fieldset1 {
	margin: 0 auto;
	width: 700px;
} 

#p1 {
	margin: 0 150px;
}

#fieldset2{
	margin: auto;
	width: 300px;
	border-radius: 10px
}

#p2{
	margin: 15px;
}

#fieldset3{
	margin: 0 auto;
	width: 700px;
}

#p3{ 
	margin: 0 10px;
	font-size: 12px;
}

#p4{
	margin: 0 0 0 150px;
}