#fieldset1 {
	margin: 0 auto;
	width: 700px;
    margin-bottom: -1.5cm;
}

#tb1{
	margin: 0 auto;
    margin-top: 1px;
	width: 400px;
}

.button {
    padding-left: 170px;            
}

button {
    margin-left: .5em;
}

#p1 {
	margin: 0 150px;
    color: #008B8B;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

#fieldset2 {
    margin-top: auto;
    width: 300px;
    border: 0;
}

#p2 {
	margin: 10px 10px 200px; 
	width: 270px;
    color: #2F4F4F;
    font-family: 'Encode Sans Expanded', sans-serif;
}

#fieldset3{
	margin: 0 auto;
	width: 700px;
    margin-top: -1.5cm;
}

#p3{ 
	margin: 0 10px;
	font-size: 12px;
}

#p4{
	margin: 0 0 0 300px;
    color: #008B8B;
}

form {
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 200px;
    text-align: left;
    color: #2F4F4F;
    font-family: 'Encode Sans Expanded', sans-serif;
}

input {

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 150px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

#p5 {
    margin-left: 15px;
    color: #008B8B;
    font-family: 'Vollkorn SC', serif;
    font-size: 20px;
}

#p6 {
    color: #2F4F4F;
    font-family: 'Encode Sans Expanded', sans-serif;
}